@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #C6D4FF;
  --secondary-color: #C6D4FF;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --gradient-1: linear-gradient(to bottom right, #62393c, #181e41);
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0rem 0rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 2.5rem;
  font-weight: 500;
  color: #080808;
  text-decoration: none;
  transition: 0.3s;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #080808;
  background-color: var(--gradient-1);
  text-decoration: none;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.link .nav__btn {
  padding: 0.5rem 2rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
}

.link .nav__btn:hover {
  background-color: var(--primary-color-dark);
} 

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__container h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
}

.heading__1 {
  font-weight: 700;
  color: 336C97;
}

.heading__2 {
  font-weight: 700;
  color: 336C97;
}

.content__container p {
  font-size: 1rem;
  color:#080808;
  margin-bottom: 2rem;
}

.content__container form {
  display: flex;
  align-items: center;
}

.content__container input {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content__container button {
  width: fit-content;
  padding: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: #080808;
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  border: solid;
}

.content__container button:hover {
  background-color: var(--primary-color-dark);
}

.image__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-content: center;
}

.image__container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}

.image__container img:nth-child(1) {
  transform: translateY(70px);
}

.image__container img:nth-child(2) {
  transform: translateY(-70px);
}

.image__content {
  position: absolute;
  width: 100%;
  max-width: 314px;
  left: 50%;
  top: 50%;
  transform: translate(-35%, 50%);
  background: #C6D4FF;
  padding: 1rem 2rem;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image__content li {
  margin-bottom: 0.5rem;
}

.service__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.service__card {
  padding: 2rem 1rem;
  text-align: center;
  background: 8b97bd;
  background: 8b97bd;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.service__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.service__card p {
  color: #080808;
  line-height: 2rem;
}

.footer {
    padding: 1rem;
    font-size: 0.9rem;
    color: #080808;
    text-align: center;
}

@media (width > 576px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__banner {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-image: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-image: none;
  }

  .nav__links a:hover {
    color: var(--secondary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .btn__large {
    display: flex;
  }

  .header__container {
    padding-top: 5rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/3/2/5;
  }

  .header__image img {
    margin-inline-start: unset;
  }

  .header__content {
    grid-area: 1/1/2/4;
    text-align: left;
  }

  .header__content h1 {
    font-size: 6rem;
    line-height: 6rem;
    text-align: left;
  }

  .header__content .section__description {
    text-align: left;
    margin-inline-start: unset;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content,
  .about__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio__container :is(.section__header, .section__description) {
    text-align: left;
    margin-inline-start: unset;
  }

  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio__banner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 900px) {
  .link a:not(.nav__btn) {
    display: none;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .content__container {
    text-align: center;
  }

  .content__container form {
    margin-right: auto;
    margin-left: auto;
  }

  .image__container {
    grid-area: 1/1/2/2;
  }

  .image__container img {
    transform: translateY(0) !important;
  }
}